* {
  box-sizing: border-box
}

body {
  height: 98vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  grid-auto-rows: minmax(800px, auto);
  position: relative;
}

pre {
  margin: 0;
  background-color: beige;
}

aside {
  display: grid;
  grid-template-rows: 1fr;
  gap: 1em;
  grid-auto-rows: minmax(400px, auto);
}

h1,
h2,
h3 {
  margin: 2px 0;
}

.main-block {
  display: grid;
  grid-template-rows: 3fr 2fr;
  gap: 1em;
}

.border {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
}

.padded {
  padding: 2px;
}

.full-width {
  width: 100%;
}

.field {
  display: block;
}

#disabled {
  position: absolute;
  background-color: white;
  opacity: 0.7;
}

.valid {
  color: green;
}

.invalid {
  background-color: lightcoral;
  font-style: italic;
  color: #e0e0e0;
}

.feedbacks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  font-size: 80%;
}

.title-w-fh {
  display: grid;
  grid-template-rows: min-content 1fr;
}

.section-with-h {
  display: grid;
  grid-template-rows: min-content 1fr;
}

label:has(input:disabled) {
  color: #e0e0e0;
}
